@use "var" as *;

.breadcrumbs {
  display: flex;
  padding: 1rem 1vw 0 1vw;
  font-size: clamp(1rem, 0.855rem + 0.73vw, 1.4rem);
  width: 90%;
  margin: 0 auto!important;
  &__list {
    flex: 0 0 auto;
    line-height: 1.7rem;
    display: flex;
    align-items: center;
    padding: .5rem 0;
    &:not(:last-child) {
      &::after {
        margin: 0 1rem;
        content: "";
        background-image: url(../images/etc/right-707070.svg);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 1rem;
        height: 1rem;
      }
    }
    &:last-child{
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1 1 auto;
    }
    &_home {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: .8rem;
      place-items: center;
      &::before {
        content: "";
        height: 1.3rem;
        width: 1.3rem;
        background-image: url(../images/etc/home.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

// @include breakpoint(pc){
//   .breadcrumbs{
//     max-width: 120rem;
//     margin: 2rem auto;
//   }
// }