@use "var" as *;

/* ==================== デザイン(SP) ==================== */
.sp {
  display: block;
}

.pc {
  display: none !important;
}

/* ==================== デザイン(PC) ==================== */
@media screen and (min-width: 1280px) {
  .sp {
    display: none !important;
  }

  .pc {
    display: block !important;
  }
}