@use "var" as *;

html {
    font-size: 62.5%;
    background: $bg-color;
  }

.top {
  &__title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 5rem 0;
  }
  &__admin{
    font-size: 2rem;
    display: block;
    width: 15rem;
    padding: 1rem;
    margin-inline: auto;
    text-align: center;
    border: .1rem solid #000;
  }
  &__img{
    width: 100%;
  }
}
