@use "var" as *;
.contact {
  @media screen and (max-width: 1024px) {
    padding-top: 30px;
  }

  .page-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 37vh;
    background-image: url(../images/contact/contact_header.webp);
    background-position: 0% 68%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @media screen and (max-width: 1024px) {
      display: block;
      height: 42vh;
      background-position: 0% 65%;
    }

    &__title {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: fit-content;
      height: fit-content;
      vertical-align: middle;
      padding: 2vw 7vw 1.5vw 7vw;
      background: rgba(37, 82, 153, 0.5);
      color: #ffffff;
      box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.1);
      @media screen and (max-width: 1024px) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;

      }
      h2 {
        font-size: 3.5rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        @media screen and (max-width: 1024px) {
          margin: 0 auto;
          border: 0 !important;
          text-align: center;
          font-size: clamp(2.5rem, 2.5vw, 2.5rem);
        }
      }
      h3 {
        width: fit-content;
        margin: 0 auto;
        font-size: clamp(1.3rem, 1.3vw, 1.5rem);
        text-align: center;
      }
    }
  }

  .page-container {
    //width: 100%;
    max-width: 1200px;
    margin: 0rem auto 8rem auto;
    @media screen and (max-width: 1024px) {
      margin: 2rem auto 8rem auto;
    }

    &__title {
      width: fit-content;
      margin: 6vw auto 2rem auto;
      font-size: 1.8vw;
      font-weight: bold;
      text-align: center;
      color: #002b91;
      letter-spacing: 0.1rem;
      padding-bottom: 0.2rem;
      border-bottom: 0.3rem solid #002b91;
      @media screen and (max-width: 1024px) {
        width: 100%;
        margin: 6vw auto 2rem auto;
        font-size: clamp(1.8rem, 2.6vw, 2.8rem);
        background-color: #e5f3fc;
        border: none;
        padding: 3rem 0 2.4rem 0;
      }
    }

    &__text {
      width: 80%;
      font-size: 2vw;
      line-height: 1.6;
      text-align: center;
      font-weight: bold;
      color: #333333;
      margin: 0 auto 2vw auto;
      @media screen and (max-width: 1024px) {
        font-size: clamp(3.6vw, 3.6vw, 4.2rem);
      }
      table{
        width: fit-content;
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 1rem 1rem;
        @media screen and (max-width: 1024px) {
          font-size: clamp(3vw, 3.8vw, 3.8rem);
        }
      }
      th{
        padding: 0.8rem 2rem 0.3rem 2rem;
        color: #ffffff;
        background-color: #555555;
        vertical-align: middle;
        letter-spacing: 0.1rem;
        border-radius: 0.2rem;
      }
      td{
        vertical-align: middle;
        text-align: left;
        letter-spacing: 0.2rem;
        padding-left: 1rem;
      }
    }
  }
}
