@use "../var" as *;
@use "../_utils/mixin.scss" as mixin;

html {
  font-size: 62.5%;
  background: $bg-color;
}

body{
  font-size: 1.4rem;
}

/* ==================== デザイン(SP) ==================== */
.sp {
  display: block;
}

.pc {
  display: none !important;
}

/* ==================== デザイン(PC) ==================== */
@media screen and (min-width: 1280px) {
  .sp {
    display: none !important;
  }

  .pc {
    display: block !important;
  }
}