@use "../var" as *;

// -------------------- フッター --------------------
footer {
  .footer {
    width: 100%;
    padding: 0;
    text-align: center;
    color: #ffffff;
    position: static;

    &__contents {
      background-color: #1f4b8a;

      &_info {
        width: fit-content;
        margin: 0 auto;

        &_title {
          display: block;
          margin: 0;
          padding: 4rem 0 1rem 0;
          letter-spacing: 0.07vw;
          font-family: Arial, Helvetica;
          font-size: clamp(2.4rem, 2.182rem + 1.09vw, 3rem);
          font-weight: bold;
          text-align: center;
          img{
            width: 35px;
            height: auto;
            margin: 0 1.5rem 0 0;
            vertical-align: middle;
          }
          @media screen and (max-width: 1024px) {
            text-align: center;
            font-size: clamp(2.2em, 4.8vw, 4.8vw);
            padding: 8vw 0 2vw 0;
          }
        }
      }

      &_menu {
        width: 100%;
        margin: 0 auto;
        background-color: #ebf6fe;
        @media screen and (max-width: 1024px) {
          background-color: transparent;
        }

        &_contact {
          width: 22vw;
          height: 5vw;
          margin: 2vw auto 2vw auto;
          text-align: center;
          vertical-align: middle;
          border-radius: 0.3vw;
          background: #ec831a;
          @media screen and (max-width: 1024px) {
            width: 54%;
            height: 10vw;
            margin: 5vw auto 5vw auto;
            border-radius: 1.2vw;
          }
          a:hover div {
            opacity: 0.8;
          }

          &_button {
            width: 100%;
            height: 100%;
            font-size: 1.4vw;
            line-height: 5vw;
            font-weight: bold;
            letter-spacing: 0.1vw;
            @media screen and (max-width: 1024px) {
              padding: 2.5vw 0vw 0 0vw;
              font-size: clamp(1rem, 0.273rem + 3.64vw, 3rem);
            }
          }
        }

        &_tel {
          margin: 0 0 3vw 0;
          font-size: 2vw;
          font-weight: bold;
          letter-spacing: 0.1vw;
          pointer-events: none;
          cursor: default;
          @media screen and (max-width: 1024px) {
            margin: 0 0 6vw 0;
            font-size: clamp(3.2vw, 3.8vw, 3.8vw);
            font-weight: bold !important;
            pointer-events: auto;
          }
        }

        &_list {
          display: flex;
          justify-content: center;
          align-items: center;
          height: fit-content;
          margin: 0 auto 2.5vw auto;
          font-size: clamp(0.8rem, 0.545rem + 1.27vw, 1.5rem);
          font-weight: bold;
          letter-spacing: 0.08vw;
          div {
            margin: 0 2.5vw 0 2.5vw;
            a:hover {
              opacity: 0.8;
            }
          }
        }

        &_copyright {
          margin: 0;
          padding: 0 0 2rem 0;
          font-size: clamp(0.7rem, 0.518rem + 0.91vw, 1.2rem);
          @media screen and (max-width: 1024px) {
            font-size: clamp(0.8rem, 0.364rem + 2.18vw, 2rem);
          }
        }
      }
    }
  }
}

#service .footer__contents_menu_list .menu_service > a {
  pointer-events: none;
  cursor: default;
  color: #f7a336;
}
#plan .footer__contents_menu_list .menu_plan > a {
  pointer-events: none;
  cursor: default;
  color: #f7a336;
}
#contact .footer__contents_menu_list .menu_contact > a {
  pointer-events: none;
  cursor: default;
  color: #f7a336;
}
