@use "../var" as *;
@use "../_utils/mixin.scss" as mixin;

header {
  .title__plan {
    height: 15rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/plan/plan_header.webp);
    &__bg {
      display: grid;
      place-content: center;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      .title-text {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 2.4rem;
        font-weight: bold;
        color: #fff;
      }
    }
  }

  .title__order {
    height: 15rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/contact/contact_header.webp);
    &__bg {
      display: grid;
      place-content: center;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      .title-text {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 2.4rem;
        font-weight: bold;
        color: #fff;
      }
    }
  }

  .title__contact {
    height: 15rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/contact/contact_header.webp);
    &__bg {
      display: grid;
      place-content: center;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      .title-text {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 2.4rem;
        font-weight: bold;
        color: #fff;
      }
    }
  }
  @include mixin.breakpoint(pc) {
    .title__plan {
      height: 40rem;
      &__bg {
        .title-text {
          font-size: 4.2rem;
        }
      }
    }
    .title__contact {
      height: 40rem;
    &__bg {
      .title-text {
        font-size: 4.2rem;
      }
    }
    }
  }
}

.header-top {
  z-index: 99;
  width: 100%;
  height: 96vh;
  position: relative;
  @media screen and (max-width: 1024px) {
    width: 100%;
    height: 62vh;
    position: relative;
  }

  &__area {
    width: 100%;
    @media screen and (max-width: 1024px) {
      position: fixed;
    }
  }

  &__logo {
    //width: 100%;
    img {
      max-width: 15vw;
      height: auto;
      position: absolute;
      top: 3%;
      left: 8%;
      object-fit: contain;
    }
    @media screen and (max-width: 1024px) {
      img {
        max-width: 32vw;
        min-width: 20rem;
        height: auto;
        position: absolute;
        top: 24%;
        left: 5%;
        object-fit: contain;
      }
    }
  }
  &__menu {
    @media screen and (min-width: 1025px) {
      position: absolute;
      top: 8%;
      right: 7%;
      ul {
        width: max-content;
        display: flex;
        column-gap: 2vw;
        li {
          //font-size: 1.2vw;
          font-size: clamp(1.2vw, 1.4rem, 1.8vw);
          font-family: serif !important;
          font-weight: bolder;
          color: #111111;
          text-shadow: 1px 1px 3px #999999 !important;

          a {
            width: 100%;
            padding: 0.4rem 1rem 0rem 1rem;
            //display: block;

            position: relative;
            display: inline-block;
            text-decoration: none;
          }
          a::after {
            position: absolute;
            bottom: -5px;
            left: 0;
            content: "";
            width: 100%;
            height: 0.2rem;
            background: #4c70c4;
            transform: scale(0, 1);
            transform-origin: center top;
            transition: transform 0.1s;
          }
          a:hover::after {
            transform: scale(1, 1);
          }
        }
      }
    }
  }
}

#about .header__topmenu .menu_about > a {
  pointer-events: none;
  cursor: default;
  color: #999999;
}
#company .header__topmenu .menu_company > a {
  pointer-events: none;
  cursor: default;
  color: #999999;
}
#contact .header__topmenu .menu_contact > a {
  pointer-events: none;
  cursor: default;
  color: #999999;
}

#about .menu__box .menu_about > a {
  pointer-events: none;
  cursor: default;
  color: #999999;
}
#company .menu__box .menu_company > a {
  pointer-events: none;
  cursor: default;
  color: #999999;
}
#contact .menu__box .menu_contact > a {
  pointer-events: none;
  cursor: default;
  color: #999999;
}

/*通常ヘッダー*/
// .header {
//   z-index: 99;
//   width: 100%;
//   height: 10rem;
//   background-color: #ebf6fe;
//   position: relative;

//   @media screen and (max-width: 1024px) {
//     width: 100%;
//     height: fit-content;
//     position: relative;
//   }

//   &__area {
//     width: 100%;
//     @media screen and (max-width: 1024px) {
//       position: fixed;
//     }
//   }

//   &__logo {
//     img {
//       width: clamp(27rem, 14vw, 15vw);
//       height: auto;
//       position: absolute;
//       top: 24%;
//       left: 8%;
//       object-fit: contain;
//     }
//     @media screen and (max-width: 1024px) {
//       img {
//         max-width: 32vw;
//         min-width: 24rem;
//         height: auto;
//         position: absolute;
//         top: 23%;
//         left: 5%;
//         object-fit: contain;
//       }
//     }
//   }
//   &__menu {
//     @media screen and (min-width: 1025px) {
//       position: absolute;
//       top: 36%;
//       right: 7%;
//       ul {
//         width: max-content;
//         display: flex;
//         column-gap: 2vw;
//         li {
//           //font-size: 1.2vw;
//           font-size: clamp(1vw, 1.05vw, 1.1vw);
//           //font-family: serif !important;
//           font-weight: bolder;
//           color: #111111;
//           //text-shadow: 1px 1px 3px #999999 !important;

//           a {
//             width: 100%;
//             padding: 0.4rem 1rem 0rem 1rem;
//             //display: block;
//             position: relative;
//             display: inline-block;
//             text-decoration: none;
//           }
//           a::after {
//             position: absolute;
//             bottom: -5px;
//             left: 0;
//             content: "";
//             width: 100%;
//             height: 0.2rem;
//             background: #4c70c4;
//             transform: scale(0, 1);
//             transform-origin: center top;
//             transition: transform 0.1s;
//           }
//           a:hover::after {
//             transform: scale(1, 1);
//           }
//         }
//       }
//     }
//   }
// }

/* ==================== ハンバーガーメニュー ==================== */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
h1 {
  //font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}
.outer-menu {
  position: fixed;
  top: 5vh;
  left: 3vw;
  z-index: 1;

  .checkbox-toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    cursor: pointer;
    width: 7rem;
    height: 7rem;
    opacity: 0;

    &:checked {
      + .hamburger > div {
        transform: rotate(135deg);

        &:before {
          top: 0;
          transform: rotate(90deg);
        }

        &:after {
          top: 0;
          transform: rotate(90deg);
          opacity: 0;
        }
      }

      ~ .menu {
        pointer-events: auto;
        visibility: visible;

        > div {
          transform: scale(1);
          transition-duration: 0.75s;

          > div {
            opacity: 1;
            transition: opacity 0.4s ease 0.4s;
          }
        }
      }
    }

    &:hover + .hamburger {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &:checked:hover + .hamburger > div {
      transform: rotate(225deg);
    }
  }

  .hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 7rem;
    height: 7rem;
    padding: 0.5rem 1rem;
    background: #fefefe;
    border-radius: 1rem;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      position: relative;
      flex: none;
      width: 100%;
      height: 0.6rem;
      border-radius: 4rem;
      background: #1f4b8a;
      transition: all 0.4s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: -15px;
        left: 0;
        width: 100%;
        height: 0.6rem;
        border-radius: 4rem;
        background: inherit;
        transition: all 0.4s ease;
      }

      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -15px;
        left: 0;
        width: 100%;
        height: 0.6rem;
        border-radius: 4rem;
        background: inherit;
        transition: all 0.4s ease;
        top: 15px;
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      width: 200vw;
      height: 200vw;
      color: #fefefe;

      background: rgba(31, 75, 138, 0.82);
      border-radius: 50%;
      transition: all 0.4s ease;
      flex: none;
      transform: scale(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
        overflow-y: auto;
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;

        > ul {
          list-style: none;
          padding: 0 1em;
          margin: 0;
          display: block;
          max-height: 100vh;

          > li {
            padding: 0;

            margin: 4rem 1rem;
            font-size: 24px;
            display: block;

            > a {
              position: relative;
              display: inline;
              cursor: pointer;
              transition: color 0.4s ease;

              &:hover {
                color: #e5e5e5;

                &:after {
                  width: 100%;
                }
              }

              &:after {
                content: "";
                position: absolute;
                z-index: 1;
                bottom: -0.15em;
                left: 0;
                width: 0;
                height: 2px;
                background: #e5e5e5;
                transition: width 0.4s ease;
              }
            }
          }
        }
      }
    }
  }
}
