IP=127.0.0.1
# ifconfig lo0 alias 127.0.0.* netmask 0xff000000

# docker コンテナ名
TITLE=WordPressBaseTheme
HP_TITLE=WordPressベーステーマ
 # Wordpressテーマの名前
THEME_TITLE=WordPressBaseTheme
WP_USER=wordpress
WP_PASS=wordpress
WP_EMAIL=example@example.com

# DB認証情報 (ローカル開発用。本番では必ず変更すること)
DB_ROOT_PASSWORD=somewordpress
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress

WORDPRESS_DEBUG="true"