@charset "UTF-8";

// スマホ(390px)
//////////////////////////////////////////////////

// メイン
////////////////////////////////////////
.weblog {
    .wrap {
        width: 90%;
        margin: 30px auto 55px;

        .main-title {
            font-weight: bold;
            text-align: center;
            color: #1F4B8A;

            &__text {
                display: block;
                font-size: 58px;
                line-height: 67px;
                margin-bottom: 8px;

                &_sub {
                    display: block;
                    font-size: 16px;
                    margin: 0 0 30px 0;
                }
            }
        }

        // 記事一覧
        ////////////////////////////////////////
        .article {
            .list {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
            }

            .item {
                width: 100%;
                height: auto;
                box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
            }

            .item-link {
                display: flex;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #000;
            }

            .thumbnail {
                display: none;
            }

            .lead {
                display: block;
                font-size: 14px;
                width: 100%;
                height: auto;
                padding: 15px 15px 15px 15px;
                position: relative;

                &__main {
                    display: none;

                    &_text {
                        color: #707070;
                    }
                }

                .lead-sub {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    line-height: 15px;
                    margin: 10px 0 0 0;
                }

                &__date {
                    color: #707070;
                }

                &__category {
                    display: inline-flex;

                    &_text {
                        height: 15px;
                        background: #B6CDEF;
                        border-radius: 20px;
                        transition-duration: .3s;
                        margin-left: 15px;
                        text-align: center;
                        color: #fff;
                        font-size: 12px;
                    }

                    &_link {
                        padding: 0 10px 0 10px;
                        display: inline-block;
                        border-radius: 20px;
                        text-decoration: none;
                        color: #fff;
                    }
                }

                &__tag {
                    display: none;
                }

                &__button {
                    margin-left: 15px;
                }
            }
        }

        // ページネーション
        ////////////////////////////////////////
        .pagination {
            margin: 60px 35px;

            .page-number {
                list-style-type: none;
                display: flex;
                gap: 15px;
                justify-content: center;

                &__block {
                    width: 45px;
                    height: 45px;
                }

                &__link {
                    display: block;
                    width: 45px;
                    height: 45px;
                    border-radius: 10px;
                    color: #1F4B8A;
                    border: 1px solid #1F4B8A;
                    background: #fff;
                    box-shadow: 1px 2px 10px -3px #707070;
                }

                .active {
                    background: #1F4B8A;
                    color: #fff;
                }

                &__area {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    line-height: 45px;
                    font-size: 20px;
                    text-align: center;
                }

                &__item {
                    width: 15px;
                    height: 45px;
                }

                &__dotted {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    line-height: 70px;
                    font-size: 20px;
                    text-align: center;
                    color: #1F4B8A;
                }
            }
        }

        // サイドバー
        ////////////////////////////////////////
        .sidebar {

            .pickup,
            .sub-index {
                display: none;
            }
        }

    }
}


// タブレット(768px)
//////////////////////////////////////////////////
@media(min-width:768px) {

    // メイン
    ////////////////////////////////////////
    .weblog {
        .wrap {
            margin: 30px auto 55px;
            width: 90%;

            .main-title {

                &__text {
                    font-size: 100px;
                    line-height: 100px;

                    &_sub {
                        font-size: 20px;
                    }
                }
            }

            // 記事一覧
            ////////////////////////////////////////

            .flex-box {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 0 20px;
                gap: 30px;

                .article {
                    width: 705px;
                    min-width: 0;

                    .list {
                        width: 100%;
                    }

                    .item {
                        width: 100%;
                    }
                }
            }
        }
    }

}

// PC(1025px)
//////////////////////////////////////////////////
@media(min-width:1025px) {

    // メイン
    ////////////////////////////////////////
    .weblog {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

        .wrap {
            margin: 30px 0 55px;
            width: 100%;

            .main-title {

                &__text {
                    font-size: 100px;
                    line-height: 100px;

                    &_sub {
                        font-size: 21px;
                    }
                }
            }

            // 記事一覧
            ////////////////////////////////////////

            .flex-box {
                max-width: 1200px;

                .article {
                    width: 850px;
                    min-width: 0;

                    .list {
                        width: 100%;
                    }

                    .item {
                        width: 100%;
                        height: auto;
                        background: #1F4B8A;
                        overflow: hidden;
                    }

                    .item-link {
                        background: #fff;
                        transition-duration: .2s;

                        &:hover {
                            transform: translateX(5px);

                            .lead__main_text {
                                color: #000;
                            }
                        }
                    }

                    .thumbnail {
                        display: block;
                        width: 220px;
                        height: 165px;
                        margin: auto 20px;
                        overflow: hidden;

                        &__img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .lead {
                        font-size: 20px;
                        width: 65%;
                        height: auto;
                        padding: 0;
                        margin: 20px 20px 20px 0;

                        &__main {
                            &_text {
                                transition-duration: .2s;
                            }
                        }

                        .lead-sub {
                            position: static;
                        }

                        &__date {
                            position: absolute;
                            content: "";
                            top: 0;
                            left: 10px;
                            color: #707070;
                            font-size: 12px;
                        }

                        &__category {

                            &_text {
                                text-align: center;
                                color: #fff;
                                font-size: 12px;
                                line-height: 25px;
                                height: 25px;
                                background: #B6CDEF;
                                border-radius: 20px;
                                transition-duration: .2s;

                                &:hover {
                                    background: #1F4B8A;
                                }
                            }

                            &_link {
                                padding: 0 15px 0 15px;
                                display: inline-block;
                                border-radius: 20px;
                                text-decoration: none;
                                color: #fff;
                            }
                        }

                        &__tag {
                            display: block;
                            font-size: 14px;
                            margin-left: 10px;

                            &_link01 {
                                margin-left: 5px;
                                text-decoration: none;
                                color: #1F4B8A;
                                transition-duration: .1s;

                                &:hover {
                                    color: #B6CDEF;
                                }
                            }
                        }

                        &__button {
                            margin-left: 15px;
                            font-size: 14px;
                            color: #707070;
                        }

                        &__title {
                            margin: 30px 0 0 0;
                            width: 100%;
                            min-height: 25px;
                            font-weight: bold;

                            &_text {
                                display: block;
                                line-height: 25px;
                            }
                        }

                        &__main {
                            display: block;
                            line-height: 20px;
                            margin: 20px 0;

                            &_text {
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                font-size: 13px;
                            }
                        }
                    }

                    // ページネーション
                    ////////////////////////////////////////
                    .pagination {
                        .page-number {
                            &__link {
                                transition-duration: .2s;

                                &:hover {
                                    background: #1F4B8A;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}