@charset "UTF-8";

// スマホ(390px)
//////////////////////////////////////////////////
.blog-card {
    width: 100%;
    height: auto;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
}

.blog-card__link {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

.thumbnail {
    display: none;
}

.lead {
    display: block;
    font-size: 14px;
    width: 100%;
    height: auto;
    padding: 15px;
    position: relative;

    &__title {
        &_text {
            margin: 0 0 10px 0;
        }
    }

    &__main {
        display: none;

        &_text {
            color: #707070;
        }
    }

    .lead-sub {
        display: flex;
        align-items: center;
        font-size: 12px;
        height: 15px;
        line-height: 15px;

        &__date {
            color: #707070;
        }

        &__cat-area {
            display: inline-block;
            height: 15px;
            line-height: 15px;

            &_link,
            &_item {
                display: inline-block;
                height: 15px;
                margin-left: 10px;
                padding: 0 10px;
                border-radius: 20px;
                text-decoration: none;
                color: #fff;
            }

            &_link {
                background: #B6CDEF;
            }

            &_item {
                background: #1F4B8A;
            }
        }

        &__tag {
            display: none;
        }

        &__button {
            margin-left: 15px;
            line-height: 25px;
        }
    }
}

// タブレット(768px)
//////////////////////////////////////////////////
// @media(min-width:768px) {
// }

// PC(1025px)
//////////////////////////////////////////////////
@media(min-width:1025px) {
    .blog-card {
        width: 100%;
        height: auto;
        background: #1F4B8A;
        overflow: hidden;
    }

    .blog-card__link {
        background: #fff;
        transition-duration: .2s;

        &:hover {
            transform: translateX(5px);

            .lead__main_text {
                color: #000;
            }
        }
    }

    .thumbnail {
        display: block;
        width: 220px;
        height: 165px;
        margin: auto 20px;
        overflow: hidden;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .lead {
        font-size: 20px;
        width: 65%;
        height: auto;
        padding: 0;
        margin: 20px 20px 20px 0;

        &__title {
            margin: 30px 0 0 0;
            width: 100%;
            min-height: 25px;
            font-weight: bold;

            &_text {
                display: block;
                margin: 0 0 0 10px;
            }
        }

        &__main {
            display: block;
            line-height: 20px;
            margin: 20px 0;

            &_text {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 13px;
                transition-duration: .2s;
            }
        }

        .lead-sub {
            position: static;
            gap: 5px;
            margin: 0;
            height: 25px;

            &__date {
                position: absolute;
                content: "";
                top: 0;
                left: 10px;
                color: #707070;
                font-size: 12px;
            }

            &__cat-area {
                display: inline-block;
                height: 25px;
                line-height: 25px;

                &_link {
                    height: 25px;
                    line-height: 25px;
                    padding: 0 15px;
                    transition-duration: .2s;

                    &:hover {
                        background: #1F4B8A;
                    }
                }

                &_item {
                    padding: 0 15px;
                    height: 25px;
                    line-height: 25px;
                }
            }

            &__tag {
                display: block;
                font-size: 14px;
            }

            &__tag-area {

                &_link,
                &_item {
                    margin-left: 10px;
                    text-decoration: none;
                    display: inline-block;
                }

                &_link {
                    color: #1F4B8A;
                    transition-duration: .1s;
                    position: relative;
                    line-height: 25px;

                    &:hover {
                        color: #B6CDEF;

                        &::after {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            content: '';
                            display: block;
                            width: 100%;
                            height: 1px;
                            background: #1F4B8A;
                        }
                    }
                }

                &_item {
                    color: #B6CDEF;
                    line-height: 24px;
                    border-bottom: 1px solid #1F4B8A;
                }

                &__button {
                    margin-left: 15px;
                    font-size: 14px;
                    color: #707070;
                }
            }
        }
    }
}