@use "../var" as *;

.wrapper {
  margin: 6vw 0 0 0;
}

.top {
  display: flex;
  text-align: center;
  flex-shrink: 0;
  /*
  @media screen and (max-width: 1024px) {
    display: block;
  }
    */
  &__title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 5rem 0;
  }
  &__admin {
    font-size: 2rem;
    display: block;
    width: 15rem;
    padding: 1rem;
    margin-inline: auto;
    text-align: center;
    border: 0.1rem solid #000;
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
  }
  &__img {
    text-align: center;
    width: 100%;
    max-width: 100rem;
  }
}

.top-left {
  width: 15%;
  height: 96vh;
  @media screen and (max-width: 1024px) {
    height: 84vh;
  }

  &__text {
    width: fit-content;
    margin: clamp(19rem, 10vw, 16vw) auto 0 auto;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
    font-size: 1.6rem;
    color: #1f4b8a;
    text-align: center;
    white-space: nowrap;
    line-height: 0 !important;
    position: relative;
    &_main {
      letter-spacing: -0.5px;
      display: inline-block;
      opacity: 0;
      span {
        opacity: 0;
        display: inline-block;
      }
    }

    &_line01 {
      height: 20rem;
      position: absolute;
      top: 115%;
      display: inline-block;
      width: 2px;
      @media screen and (max-width: 1024px) {
        height: 30vh;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border-left: solid 2px;
        border-image: linear-gradient(to bottom, #6ca1eb, #1f4b8a) 1;
        animation: border_anim 2.6s linear forwards infinite;
        animation-delay: 2.5s;
      }
    }

    @keyframes border_anim {
      0% {
        opacity: 0;
        top: 0;
        bottom: 100%;
      }
      10% {
        bottom: 100%;
      }
      50% {
        opacity: 1;
      }
      80% {
        opacity: 1;
        top: 0;
      }
      100% {
        opacity: 0;
        top: 60%;
        bottom: 0;
      }
    }

    @media screen and (max-width: 1024px) {
      margin: clamp(18vh, 10vw, 16vw) auto 0 auto;
      font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
      line-height: 0;
    }
  }
}

.top-right {
  width: 85%;
  height: 96vh;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 1024px) {
    height: 84vh;
  }

  .top-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 96vh;
    background-position: 75% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 0 100px;
    animation-name: fade2;
    animation-duration: 4s;
    animation-iteration-count: none;
    @media screen and (max-width: 1024px) {
      height: 84vh;
    }

    @media screen and (min-width: 1025px) {
      height: 96vh;
      background-position: 95% 70%;
      opacity: 0;
      animation-name: fade;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      //border-radius: 0 0 0 100px;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: 0;
    }
  }

  @keyframes fade2 {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      z-index: 0;
    }
  }

  /* 1枚目のスライド */
  .top-box:first-of-type {
    background-image: url(../images/front/header_img01.webp);
  }
  /* 2枚目のスライド */
  .top-box:nth-of-type(2) {
    background-image: url(../images/front/header_img02.webp);
    animation-delay: 4s;
  }

  .container-top {
    &__text01 {
      position: absolute;
      top: 8%;
      left: 6%;
      @media screen and (max-width: 1024px) {
        top: 7.6vw;
        left: 4%;
      }

      div {
        opacity: 0;
        width: fit-content;
        margin: 0 0 2.6rem 0;
        padding: 1rem 0rem 1rem 3rem;
        line-height: 1.6;
        letter-spacing: 0.5rem;
        font-size: 3.4vw;
        font-family: serif !important;
        font-weight: bold;
        color: #1f4b8a;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #1f4b8a;
        background: rgba(255, 255, 255, 1);

        @media screen and (max-width: 1024px) {
          padding: 1rem 0rem 1rem 7vw;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          text-orientation: upright;
          //font-size: clamp(2.8rem, 2.527rem + 1.16vw, 3.4rem);
          font-size: clamp(2.4rem, 1.945rem + 1.94vw, 3.4rem);
          color: #ffffff;
          -webkit-text-stroke-width: 0;
          -webkit-text-stroke-color: none;
          letter-spacing: 0.02rem;
          background: none;
        }
      }

      &_inner01 {
        @media screen and (max-width: 1024px) {
          position: absolute;
          top: -10rem;
          left: 10vw;
          width: fit-content;
          min-height: 52rem;
          letter-spacing: 0.4rem !important;
        }
      }
      &_inner02 {
        @media screen and (max-width: 1024px) {
          position: absolute;
          top: 12rem;
          left: 0.2vw;
          width: fit-content;
          min-height: 42rem;
          letter-spacing: 0.4rem !important;
        }
      }
    }
    &__text02 {
      opacity: 0;
      position: absolute;
      bottom: 10%;
      right: 10%;
      width: fit-content;
      margin-left: auto;
      font-size: 2.2vw;
      font-weight: bold;
      color: #ffffff;
      letter-spacing: 0.04rem;
      text-shadow: 2px 2px 4px rgba(200, 200, 200, 0.3);
      span {
        color: #1f4b8a;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(200, 200, 200, 0.3);
      }
      @media screen and (max-width: 1024px) {
        width: fit-content;
        //font-size: 3vw;
        font-size: clamp(2vw, 1.636rem + 1.82vw, 3vw);
        position: absolute;
        bottom: clamp(6%, 7%, 8%);
        //bottom: 18%;
        right: 22%;
      }
    }
  }
}

:is(.about_bg, .about_bg2, .about_bg3) {
  width: 100%;
  margin: 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #1f4b8a;
  }
}

.about_bg {
  &::before {
    inset: 40vw 0 0 0;
    height: 11vw;
    transform: skewY(15deg);
    @media screen and (max-width: 1024px) {
      height: 30vw;
      top: 28vw;
    }
  }
}

.about_bg2 {
  &::before {
    display: contents;
    @media screen and (max-width: 1024px) {
      display: block;
      inset: 30vw 0 0 0;
      transform: skewY(-15deg);
      height: 30vw;
    }
  }
}

.about_bg3 {
  &::before {
    inset: 7vw 0 0 0;
    height: 11vw;
    transform: skewY(-15deg);

    @media screen and (max-width: 1024px) {
      transform: skewY(15deg);
      height: 30vw;
      top: 28vw;
    }
  }
}

.container {
  margin: 2vw auto 2vw auto;
  @media screen and (max-width: 1024px) {
    width: 100% !important;
  }
  .column-box {
    /*
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    */
    display: flex;
    @media screen and (max-width: 1024px) {
      display: block;
      margin: 0 auto;
    }

    .listitem-left {
      width: 50%;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      &__box01 {
        width: 80%;
        margin-left: auto;
        padding: 0 4rem 0 4rem;
        @media screen and (max-width: 1024px) {
          margin: 0 auto;
          padding: 0;
        }
      }
      &__box02 {
        position: relative;
      }
      &__box03 {
        position: static;
        width: 80%;
        margin: 0 0 0 auto;
        padding: 0 4rem 0 4rem;
        @media screen and (max-width: 1024px) {
          margin: 0 auto;
          padding: 0;
        }
      }
      &__title01 {
        font-size: clamp(6vw, 6vw, 8vw);
        font-family: "Arial";
        font-weight: bold;
        -webkit-text-stroke: 4px #1f4b8a;
        color: #1f4b8a;
        text-align: right;
        letter-spacing: 0.4rem;
        margin: 0 0 0.8rem 0;
        @media screen and (max-width: 1024px) {
          text-align: center;
        }
      }
      &__title02 {
        margin: 10vw 0 0 0;
        font-size: clamp(2.4vw, 2.6vw, 2.8vw);
        font-weight: bold;
        color: #333333;
        text-align: right;
        letter-spacing: 0.4rem;
        line-height: 1.3;
        @media screen and (max-width: 1024px) {
          margin: 6rem 0 0rem 0;
          text-align: center;
          //font-size: 4vw;
          font-size: clamp(2rem, 1.545rem + 1.94vw, 3rem);
        }
      }
      &__title03 {
        margin: 28vw 0 0 0;
        font-size: clamp(2.4vw, 2.6vw, 2.8vw);
        font-weight: bold;
        //-webkit-text-stroke: 2.4px #333333;
        color: #333333;
        text-align: right;
        letter-spacing: 0.4rem;
        line-height: 1.3;
        white-space: nowrap;
        @media screen and (max-width: 1024px) {
          margin: 6rem 0 0 0;
          text-align: center;
          font-size: clamp(2rem, 1.545rem + 1.94vw, 3rem);
        }
      }
      &__text01 {
        margin: 2vw 0 4vw 0;
        padding: 0 0 0 2vw;
        font-size: clamp(1.3rem, 1.264rem + 0.18vw, 1.6rem);
        color: #333333;
        line-height: 1.6;
        @media screen and (max-width: 1024px) {
          width: 80%;
          margin: 6vw auto 0 auto;
          padding: 0;
          font-size: clamp(1.4rem, 1.127rem + 1.16vw, 2rem);
        }
      }
      &__img01 {
        width: 100%;
        border-radius: 0 80px 80px 0;
        overflow: hidden;
        margin: 1vw 0 0 0;
        img {
          margin: 0;
          width: 48vw;
        }
        @media screen and (max-width: 1024px) {
          border-radius: 0 0 0 0 !important;
          img {
            width: 100%;
          }
        }
      }
      &__img02 {
        width: 100%;
        overflow-x: hidden;
        @media screen and (max-width: 1024px) {
          text-align: center;
        }
        img {
          position: absolute;
          top: -16vw;
          left: 0;
          margin: 0 0 0 -6vw;
          width: 56vw;
          @media screen and (max-width: 1024px) {
            position: static;
            //text-align: center;
            margin: 0 auto;
          }
        }
      }
    }

    .listitem-right {
      max-width: 50%;
      margin: 0;
      @media screen and (max-width: 1024px) {
        max-width: none;
        width: 100%;
      }
      &__box01 {
        padding: 0 4rem 0 4rem;
        @media screen and (max-width: 1024px) {
          margin: 0 auto !important;
        }
      }
      &__box02 {
        width: 73%;
        margin: -1rem 0 0 0;
        padding: 0 4rem 0 4rem;
        @media screen and (max-width: 1024px) {
          width: 100%;
          margin: 0 auto;
          padding: 0;
          font-size: 1.6vw;
        }
      }

      &__title01 {
        font-size: clamp(6vw, 6vw, 8vw);
        font-family: "Arial";
        font-weight: bold;
        -webkit-text-stroke: 0.3vw #1f4b8a;
        color: #1f4b8a;
        text-align: right;
        letter-spacing: 0.2vw;
        margin: 0 0 0.8rem 0;
        @media screen and (max-width: 1024px) {
          font-size: 10vw;
          -webkit-text-stroke: 0.6vw #1f4b8a;
          text-align: center;
        }
      }
      &__title02 {
        margin: 6rem 0 0 0;
        font-size: clamp(2.4vw, 2.6vw, 2.8vw);
        font-weight: bold;
        color: #333333;
        letter-spacing: 0.4rem;
        line-height: 1.2;
        @media screen and (max-width: 1024px) {
          margin: 6rem 0 0 0;
          text-align: center;
          font-size: clamp(2rem, 1.545rem + 1.94vw, 3rem);
        }
      }
      &__sub01 {
        //font-size: clamp(1.4rem, 1.255rem + 0.73vw, 1.8rem);
        font-size: 1.8vw;
        font-weight: bold;
        color: #1f4b8a;
        margin: 0 0 2rem 0;
        text-align: right;
        @media screen and (max-width: 1024px) {
          font-size: 2.8vw;
          color: #1f4b8a;
          text-align: center;
          margin: 0 auto;
        }
      }
      &__sub02 {
        font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
        font-weight: bold;
        color: #1f4b8a;
        line-height: 1.5;
        letter-spacing: 1px;
        writing-mode: horizontal-tb;
        text-align: right;
        margin: 4vw 0 0 0;
        @media screen and (max-width: 1024px) {
          margin: 7vw auto 2rem auto;
          font-size: 3.6vw;
          text-align: center;
        }
      }
      &__text01 {
        margin: 2vw 0 0 0;
        font-size: clamp(1.3rem, 1.264rem + 0.18vw, 1.6rem);
        color: #333333;
        line-height: 1.6;
        text-align: left;
        @media screen and (max-width: 1024px) {
          width: 80%;
          margin: 4vw auto 2rem auto;
          font-size: clamp(1.4rem, 1.127rem + 1.16vw, 2rem);
        }
      }
      &__img01 {
        width: 100%;
        overflow: hidden;
        @media screen and (max-width: 1024px) {
          text-align: center;
        }
        img {
          margin: 0;
          width: 56vw;
        }
      }
      &__img02 {
        width: 100%;
        overflow: hidden;
        @media screen and (max-width: 1024px) {
          text-align: center;
        }
        img {
          margin: 4rem 0 0 0;
          width: 56vw;
          @media screen and (max-width: 1024px) {
            margin: 0;
          }
        }
      }
    }
  }

  .contents_title {
    font-size: clamp(6vw, 6vw, 8vw);
    font-family: "Arial";
    font-weight: bold;
    -webkit-text-stroke: 0.3vw #1f4b8a;
    color: #1f4b8a;
    text-align: center;
    letter-spacing: 0.2vw;
    margin: 0 0 0.8rem 0;
    @media screen and (max-width: 1024px) {
      font-size: clamp(4rem, 1.273rem + 11.64vw, 10rem);
    }
  }

  .contents_subtitle {
    font-size: 1.8vw;
    font-weight: bold;
    text-align: center;
    color: #1f4b8a;
    margin: 0 0 2rem 0;
    @media screen and (max-width: 1024px) {
      font-size: clamp(1.4rem, 1.127rem + 1.16vw, 2rem);
      margin: 0 0 4vw 0;
    }
  }

  .contents_text01 {
    width: 83%;
    margin: 4rem auto;
    padding: 0;
    font-size: clamp(1.3rem, 1.264rem + 0.18vw, 1.6rem);
    color: #333333;
    line-height: 1.6;
    text-align: left;
    @media screen and (max-width: 1024px) {
      width: 80%;
      margin: 0 auto;
      font-size: clamp(1.4rem, 1.127rem + 1.16vw, 2rem);
    }
  }

  .service {
    max-width: 1200px;
    margin: 8rem auto 14rem auto;
    text-align: center;
    @media screen and (max-width: 1024px) {
      margin: 8rem auto 6rem auto;
      max-width: none;
      width: 100%;
    }

    &__box {
      width: fit-content;
      margin: 0 auto;
      position: relative;
      @media screen and (max-width: 1024px) {
        margin: 8vw auto 0 auto;
      }

      &_deco {
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        font-size: clamp(1.2rem, 1.055rem + 0.73vw, 1.6rem);
        font-weight: bold;
        color: #ffffff;
        text-shadow: 2px 2px 4px #aaaaaa;
        line-height: 1.2;
        z-index: -99;
        span {
          color: #1f4b8a;
          font-weight: bold;
        }
      }

      &_list {
        display: flex;
        //align-items: stretch;
        max-width: 1200px;
        margin: 0 auto;

        li {
          width: 34vw;
          height: 34vw;
          max-width: 570px;
          max-height: 570px;
          //height: auto;
          aspect-ratio: 1;
          border: 2px solid #1f4b8a;
          border-radius: 50%;
          margin: 0 1.5rem -2.5rem 1.5rem;
          padding: 3vw 0 3vw 0;
          @media screen and (max-width: 1024px) {
            width: 38vw;
            height: auto;
            border-radius: 4vw;
            margin: 5vw 1rem 3.5vw 1rem;
          }
        }
        &_menu {
          width: 100%;
          img {
            width: 30%;
            @media screen and (max-width: 1024px) {
              width: 40%;
              margin-top: -12rem;
            }
          }

          &_title {
            font-size: clamp(1.6rem, 1.455rem + 0.73vw, 2.4rem);
            color: #1f4b8a;
            margin: 2rem 0 2rem 0;
            font-weight: bold;
            @media screen and (max-width: 1024px) {
              font-size: clamp(1.4rem, 1.327rem + 0.36vw, 1.6rem);
            }
          }

          &_text {
            font-size: clamp(1.1rem, 0.991rem + 0.55vw, 2.4rem);
            line-height: 1.8vw;
            width: 60%;
            margin: 0 auto;
            @media screen and (max-width: 1024px) {
              width: 80%;
              font-size: clamp(1rem, 0.545rem + 1.94vw, 2rem);
              line-height: 1.3;
            }
          }
        }
      }
    }

    &__contact {
      width: 30vw;
      height: auto;
      margin: 6vw auto 0 auto;
      font-size: 1.6vw;
      font-weight: bold !important;
      text-align: center;
      color: #ffffff;
      background-color: #ec831a;
      border-radius: 10px;
      @media screen and (max-width: 1024px) {
        width: 80%;
        font-size: 3vw;
      }
      &_button {
        padding: 3vw 0 2.8vw 0;
        font-weight: bold !important;
        line-height: 0;
        @media screen and (max-width: 1024px) {
          padding: 5vw 0 4.8vw 0;
        }
      }
      a:hover {
        color: #1f4b8a;
      }
    }
  }

  .flow {
    max-width: 1200px;
    margin: 8rem auto 8rem auto;
    @media screen and (max-width: 1024px) {
      max-width: none;
      width: 100%;
      margin: 12vw auto 4rem auto;
    }

    &__box {
      width: fit-content;
      margin: 4rem auto 0 auto;
      @media screen and (max-width: 1024px) {
        width: 90%;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }

      &_title {
        margin: 1rem 0 1rem 0;
        font-size: clamp(2rem, 1.855rem + 0.73vw, 2.4rem);
        font-weight: bold;
        color: #1f4b8a;
        @media screen and (max-width: 1024px) {
          font-size: clamp(1.4rem, 1.182rem + 1.09vw, 2rem);
        }

        &_num {
          width: 7vw;
          height: 7vw;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          color: #ffffff;
          font-size: 2.6vw;
          font-weight: bold;
          background-color: #1f4b8a;
          border-radius: 60%;
          padding: 2.2vw 0 0 0;
        }
        &_point {
          letter-spacing: -1.5rem;
          @media screen and (max-width: 1024px) {
            letter-spacing: -1rem;
          }
        }
      }

      &_line {
        margin: 0 0 0 3.4vw;
        border-left: 4px solid #1f4b8a;
      }

      &_line_end {
        margin: 0 0 0 4.2vw;
      }

      &_img {
        padding: 0 0 0 4.2vw;
        img {
          border-radius: 10px;
        }
        @media screen and (max-width: 1024px) {
        }
      }

      &_text {
        margin: 2rem 0 0 0;
        padding: 0 0 4rem 5vw;
        max-width: 800px;
        font-size: clamp(1.6rem, 1.527rem + 0.36vw, 1.8rem);
        line-height: 1.5;
        @media screen and (max-width: 1024px) {
          font-size: clamp(1.4rem, 1.255rem + 0.73vw, 1.8rem);
        }
        &_sub {
          margin: 4vw 0 0 0;
          font-weight: bold;
        }
      }
    }
  }

  .company {
    max-width: 1200px;
    margin: 8vw auto 8vw auto;
    @media screen and (max-width: 1024px) {
      margin: 0 auto;
    }

    &__box {
      width: fit-content;
      margin: 6vw auto 0 auto;
      display: flex;
      font-size: 1.2vw;
      @media screen and (max-width: 1024px) {
        margin: 8vw auto 0 auto;
        display: block;
        width: 100%;
        font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
      }

      ul {
        width: fit-content;
        margin: 0 2rem 0 0;
        @media screen and (max-width: 1024px) {
          width: 90%;
          margin: 0 auto;
        }
      }

      li {
        margin: 0 0 2.4rem 0;
        padding: 0 0 0.5rem 0;
        border-bottom: 1px solid #333333;
        display: flex;
        @media screen and (max-width: 1024px) {
          padding: 0 0 0.5rem 3vw;
        }
      }

      &_item {
        width: 10vw;
        font-weight: bold;
        @media screen and (max-width: 1024px) {
          width: 35%;
        }
      }

      &_map {
        iframe {
          width: 32vw;
          height: auto;
          aspect-ratio: 4/3;
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
      }
    }
  }
}
