@use "../var" as *;
@use "../_utils/mixin.scss" as mixin;

#contact {
  .wrapper {
    margin: 3rem 0 0 0;
  }
  .contact-form {
    &__title {
      &_main {
        font-size: 5rem;
      }
    }
  }
  @include mixin.breakpoint(pc) {
    .contact-form {
      &__title {
        &_main {
          font-size: 10rem;
        }
      }
    }
  }
}
