@use "../var" as *;
@use "../_utils/mixin.scss" as mixin;

#order {
  .wrapper{
    margin: 3rem 0 0 0;
  }
  .contact-form {
    &__title {
      &_main {
        font-size: 3rem;
      }
      &_sub {
        font-size: 1.3rem;
      }
    }
    .sitecontact {
      .input {
        &__box {
          font-size: 1.4rem;
          margin: 2rem 0 0;
        }
      }
      .area-name{
        text-align: center;
        background-color: $main-color;
        color: #FFF;
        padding: 1rem 0;
        border-radius: .5rem;
        margin: 2rem 0 0 0;
      }
    }
  }
  @include mixin.breakpoint(pc) {
    .contact-form {
      &__title {
        &_main {
          font-size: 6.5rem;
        }
        &_sub {
          font-size: 2rem;
          margin: 2rem 0 0 0;
        }
      }
    }
  }
}
