@charset "UTF-8";

// 記事一覧
////////////////////////////////////////
.article {

    // search.phpでのみ使用される（「○○」の検索結果）
    .search-result {
        font-size: 22px;
        font-weight: bold;
        color: #1F4B8A;
        margin: 0 0 30px;
    }

    .search-no-result {
        &__text {
            font-size: 18px;
            color: #1F4B8A;
            line-height: 25px;
        }
    }

}