    <div class="sitecontact">
        <!-- 入力フォームstep1 -->
        <div class="sitecontact__block" v-show="step.show">
            <div class="form-wrap">
                <div class="area-name">
                    <span class="area-name__text">ご依頼内容</span>
                </div>
                <div class="input">
                    <!-------------------------------------------- 基本情報-->
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">制作概要</span>
                        </div>
                        <div class="input__box_td">
                            <span class="wpcf7-form-control-wrap" data-name="homepage-project-type">
                                <select class="wpcf7-form-control wpcf7-select" aria-invalid="false" name="homepage-project-type">
                                    <option value="" disabled selected>選択してください</option>
                                    <option value="new-website">新規ホームページ作成</option>
                                    <option value="renewal-website">既存ホームページリニューアル</option>
                                </select>
                            </span>
                            <!-- <span v-if="val['nameVal']" class="clear" @click="reset('nameVal')" v-cloak>×</span> -->
                            <!-- <span class="wpcf7-not-valid-tip" v-if="v$.val.nameVal.$error" v-cloak>名前が入力されていません。</span> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">ホームページの分類</span>
                        </div>
                        <div class="input__box_td">
                            <span class="wpcf7-form-control-wrap" data-name="homepage-category">
                                <select class="wpcf7-form-control wpcf7-select" aria-invalid="false" name="homepage-category">
                                    <option value="" disabled selected>選択してください</option>
                                    <option value="corporate">コーポレートサイト</option>
                                    <option value="landing-page">ランディングページ（LP）</option>
                                    <option value="service-site">サービスサイト</option>
                                    <option value="store-facility">店舗・施設サイト</option>
                                    <option value="ec-site">ECサイト</option>
                                    <option value="portal-site">ポータルサイト</option>
                                    <option value="media-site">メディアサイト</option>
                                    <option value="other">その他</option>
                                </select>
                            </span>
                            <!-- <span v-if="val['nameVal']" class="clear" @click="reset('nameVal')" v-cloak>×</span> -->
                            <!-- <span class="wpcf7-not-valid-tip" v-if="v$.val.nameVal.$error" v-cloak>名前が入力されていません。</span> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">ホームページの目的</span>
                        </div>
                        <div class="input__box_td">
                            <span class="wpcf7-form-control-wrap" data-name="homepage-purpose">
                                <select class="wpcf7-form-control wpcf7-select" aria-invalid="false" name="homepage-purpose">
                                    <option value="" disabled selected>選択してください</option>
                                    <option value="corporate-info">企業情報を発信したい</option>
                                    <option value="increase-sales">集客と売り上げを伸ばしたい</option>
                                    <option value="pr-product-service">商品やサービスをPRしたい</option>
                                    <option value="sell-online">WEB上で商品を販売したい</option>
                                </select>
                            </span>
                            <!-- <span v-if="val['nameVal']" class="clear" @click="reset('nameVal')" v-cloak>×</span> -->
                            <!-- <span class="wpcf7-not-valid-tip" v-if="v$.val.nameVal.$error" v-cloak>名前が入力されていません。</span> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">ご希望の制作プラン</span>
                        </div>
                        <div class="input__box_td">
                            <span class="wpcf7-form-control-wrap" data-name="production-plan">
                                <select class="wpcf7-form-control wpcf7-select" aria-invalid="false" name="production-plan">
                                    <option value="" disabled selected>選択してください</option>
                                    <option value="landing-page">ランディングページ（LP）</option>
                                    <option value="simple-plan">シンプルプラン</option>
                                    <option value="standard-plan">スタンダードプラン</option>
                                    <option value="business-pro">ビジネスプロ</option>
                                </select>
                            </span>
                            <!-- <span v-if="val['nameVal']" class="clear" @click="reset('nameVal')" v-cloak>×</span> -->
                            <!-- <span class="wpcf7-not-valid-tip" v-if="v$.val.nameVal.$error" v-cloak>名前が入力されていません。</span> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">完成希望納期</span>
                        </div>
                        <div class="input__box_td">
                            <span class="wpcf7-form-control-wrap" data-name="completion-deadline">
                                <select class="wpcf7-form-control wpcf7-select" aria-invalid="false" name="completion-deadline">
                                    <option value="" disabled selected>選択してください</option>
                                    <option value="within-1-month">１ヶ月以内</option>
                                    <option value="1-to-2-months">１ヶ月～２ヶ月以内</option>
                                    <option value="2-to-3-months">２ヶ月～３ヶ月以内</option>
                                    <option value="3-to-6-months">３ヶ月～６ヶ月以内</option>
                                </select>
                            </span>
                            <!-- <span v-if="val['nameVal']" class="clear" @click="reset('nameVal')" v-cloak>×</span> -->
                            <!-- <span class="wpcf7-not-valid-tip" v-if="v$.val.nameVal.$error" v-cloak>名前が入力されていません。</span> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">現在のホームページURL</span>
                        </div>
                        <div class="input__box_td">
                            <span data-name="mail" class="wpcf7-form-control-wrap">
                                <input :class="{ 'error' : v$.val.mailVal.$error}" v-model="val.mailVal" @blur="v$.val.mailVal.$touch()" aria-invalid="false" placeholder="info@example.com" value="" type="email" name="mail" class="wpcf7-form-control wpcf7-email wpcf7-text">
                            </span>
                            <!-- <span v-if="val['mailVal']" class="clear" @click="reset('mailVal')" v-cloak>×</span>
                            <div v-if="v$.val.mailVal.$error" v-cloak>
                                <span class="wpcf7-not-valid-tip" v-if="v$.val.mailVal.required.$invalid" v-cloak>メールアドレスが入力されていません。</span>
                                <span class="wpcf7-not-valid-tip" v-if="v$.val.mailVal.email.$invalid" v-cloak>メールアドレスの形式が正しくありません。</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">ご希望の参考サイト</span>
                        </div>
                        <div class="input__box_td">
                            <span data-name="mail" class="wpcf7-form-control-wrap">
                                <input :class="{ 'error' : v$.val.mailVal.$error}" v-model="val.mailVal" @blur="v$.val.mailVal.$touch()" aria-invalid="false" placeholder="info@example.com" value="" type="email" name="mail" class="wpcf7-form-control wpcf7-email wpcf7-text">
                            </span>
                            <!-- <span v-if="val['mailVal']" class="clear" @click="reset('mailVal')" v-cloak>×</span>
                            <div v-if="v$.val.mailVal.$error" v-cloak>
                                <span class="wpcf7-not-valid-tip" v-if="v$.val.mailVal.required.$invalid" v-cloak>メールアドレスが入力されていません。</span>
                                <span class="wpcf7-not-valid-tip" v-if="v$.val.mailVal.email.$invalid" v-cloak>メールアドレスの形式が正しくありません。</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th vertical">
                            <span class="required">ホームページ内容やページ構成
                                について</span>
                        </div>
                        <div class="input__box_td">
                            <span data-name="content" class="wpcf7-form-control-wrap">
                                <textarea :class="{ 'error' : v$.val.postVal.$error}" v-model="val.postVal" @blur="v$.val.postVal.$touch()" rows="10" aria-invalid="false" placeholder="" name="content" class="wpcf7-form-control wpcf7-textarea"></textarea>
                            </span>
                            <!-- <span v-if="val['postVal']" class="clear" @click="reset('postVal')">×</span>
                            <span class="wpcf7-not-valid-tip" v-if="v$.val.postVal.$error" v-cloak>お問い合わせ内容が入力されていません。</span> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">サーバー契約</span>
                        </div>
                        <div class="input__box_td">
                            <span class="wpcf7-form-control-wrap" data-name="server-contract">
                                <select class="wpcf7-form-control wpcf7-select" aria-invalid="false" name="server-contract">
                                    <option value="" disabled selected>選択してください</option>
                                    <option value="new-server">新規サーバー契約</option>
                                    <option value="existing-server">既存サーバーを使用</option>
                                </select>
                            </span>
                            <!-- <span v-if="val['nameVal']" class="clear" @click="reset('nameVal')" v-cloak>×</span> -->
                            <!-- <span class="wpcf7-not-valid-tip" v-if="v$.val.nameVal.$error" v-cloak>名前が入力されていません。</span> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">ドメイン取得</span>
                        </div>
                        <div class="input__box_td">
                            <span class="wpcf7-form-control-wrap" data-name="domain-acquisition">
                                <select class="wpcf7-form-control wpcf7-select" aria-invalid="false" name="domain-acquisition">
                                    <option value="" disabled selected>選択してください</option>
                                    <option value="new-domain">新規ドメイン取得</option>
                                    <option value="existing-domain">既存ドメインを使用</option>
                                </select>
                            </span>
                            <!-- <span v-if="val['nameVal']" class="clear" @click="reset('nameVal')" v-cloak>×</span> -->
                            <!-- <span class="wpcf7-not-valid-tip" v-if="v$.val.nameVal.$error" v-cloak>名前が入力されていません。</span> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th vertical">
                            <span class="required">その他・備考</span>
                        </div>
                        <div class="input__box_td">
                            <span data-name="content" class="wpcf7-form-control-wrap">
                                <textarea :class="{ 'error' : v$.val.postVal.$error}" v-model="val.postVal" @blur="v$.val.postVal.$touch()" rows="10" aria-invalid="false" placeholder="" name="content" class="wpcf7-form-control wpcf7-textarea"></textarea>
                            </span>
                            <!-- <span v-if="val['postVal']" class="clear" @click="reset('postVal')">×</span>
                            <span class="wpcf7-not-valid-tip" v-if="v$.val.postVal.$error" v-cloak>お問い合わせ内容が入力されていません。</span> -->
                        </div>
                    </div>
                </div>
                    <div class="area-name">
                        <span class="area-name__text">お客様情報</span>
                    </div>
                <div class="input">
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">貴社名</span>
                        </div>
                        <div class="input__box_td">
                            <span data-name="contact_name" class="wpcf7-form-control-wrap">
                                <input :class="{ 'error' : v$.val.nameVal.$error}" v-model="val.nameVal" @blur="v$.val.nameVal.$touch()" aria-invalid="false" placeholder="株式会社プロテクト" value="" type="text" name="contact_name" class="wpcf7-form-control wpcf7-text">
                            </span>
                            <!-- <span v-if="val['nameVal']" class="clear" @click="reset('nameVal')" v-cloak>×</span> -->
                            <!-- <span class="wpcf7-not-valid-tip" v-if="v$.val.nameVal.$error" v-cloak>名前が入力されていません。</span> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">ご担当者様名</span>
                        </div>
                        <div class="input__box_td">
                            <span data-name="contact_name" class="wpcf7-form-control-wrap">
                                <input :class="{ 'error' : v$.val.nameVal.$error}" v-model="val.nameVal" @blur="v$.val.nameVal.$touch()" aria-invalid="false" placeholder="山田 太郎" value="" type="text" name="contact_name" class="wpcf7-form-control wpcf7-text">
                            </span>
                            <!-- <span v-if="val['nameVal']" class="clear" @click="reset('nameVal')" v-cloak>×</span> -->
                            <!-- <span class="wpcf7-not-valid-tip" v-if="v$.val.nameVal.$error" v-cloak>名前が入力されていません。</span> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">所在地</span>
                        </div>
                        <div class="input__box_td">
                            <span data-name="contact_name" class="wpcf7-form-control-wrap">
                                <input :class="{ 'error' : v$.val.nameVal.$error}" v-model="val.nameVal" @blur="v$.val.nameVal.$touch()" aria-invalid="false" placeholder="" value="" type="text" name="contact_name" class="wpcf7-form-control wpcf7-text">
                            </span>
                            <!-- <span v-if="val['nameVal']" class="clear" @click="reset('nameVal')" v-cloak>×</span> -->
                            <!-- <span class="wpcf7-not-valid-tip" v-if="v$.val.nameVal.$error" v-cloak>名前が入力されていません。</span> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">メールアドレス</span>
                        </div>
                        <div class="input__box_td">
                            <span data-name="mail" class="wpcf7-form-control-wrap">
                                <input :class="{ 'error' : v$.val.mailVal.$error}" v-model="val.mailVal" @blur="v$.val.mailVal.$touch()" aria-invalid="false" placeholder="info@example.com" value="" type="email" name="mail" class="wpcf7-form-control wpcf7-email wpcf7-text">
                            </span>
                            <!-- <span v-if="val['mailVal']" class="clear" @click="reset('mailVal')" v-cloak>×</span>
                            <div v-if="v$.val.mailVal.$error" v-cloak>
                                <span class="wpcf7-not-valid-tip" v-if="v$.val.mailVal.required.$invalid" v-cloak>メールアドレスが入力されていません。</span>
                                <span class="wpcf7-not-valid-tip" v-if="v$.val.mailVal.email.$invalid" v-cloak>メールアドレスの形式が正しくありません。</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">電話番号</span>
                        </div>
                        <div class="input__box_td">
                            <span class="wpcf7-form-control-wrap">
                                <input aria-invalid="false" placeholder="0246-85-5811" value="" type="tel" name="telnumber" class="wpcf7-form-control wpcf7-tel wpcf7-text wpcf7-validates-as-tel">
                            </span>
                            <!-- <span v-if="val['mailVal']" class="clear" @click="reset('mailVal')" v-cloak>×</span>
                            <div v-if="v$.val.mailVal.$error" v-cloak>
                                <span class="wpcf7-not-valid-tip" v-if="v$.val.mailVal.required.$invalid" v-cloak>メールアドレスが入力されていません。</span>
                                <span class="wpcf7-not-valid-tip" v-if="v$.val.mailVal.email.$invalid" v-cloak>メールアドレスの形式が正しくありません。</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="input__box">
                        <div class="input__box_th">
                            <span class="required">FAX</span>
                        </div>
                        <div class="input__box_td">
                            <span class="wpcf7-form-control-wrap">
                                <input aria-invalid="false" placeholder="0246-85-5812" value="" type="tel" name="telnumber" class="wpcf7-form-control wpcf7-tel wpcf7-text wpcf7-validates-as-tel">
                            </span>
                            <!-- <span v-if="val['mailVal']" class="clear" @click="reset('mailVal')" v-cloak>×</span>
                            <div v-if="v$.val.mailVal.$error" v-cloak>
                                <span class="wpcf7-not-valid-tip" v-if="v$.val.mailVal.required.$invalid" v-cloak>メールアドレスが入力されていません。</span>
                                <span class="wpcf7-not-valid-tip" v-if="v$.val.mailVal.email.$invalid" v-cloak>メールアドレスの形式が正しくありません。</span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 確認ボタン等ブロック -->
            <div class="buttonblock">
                    <button type="button" class="buttonblock__confirm" @click="stepForm">入力内容確認</button>
            </div>
        </div>
    </div>